* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'sans-serif';
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff, #edf35a);
    padding: 20px 0;
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*----- offer ------*/
.offer {
    background: radial-gradient(#fff, #edf35a);
    margin-top: 80px;
    padding: 30px 0;
}

small {
    color: #555;
}

/*---brands---*/
.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);

}
.col-5 img:hover{
    filter: grayscale(0);
}

/*----------foooter------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.fooyer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;

}
ul{
    list-style-type: none;
}
.menu-icon{
    width: 28px;
    margin-left: 15px;
    display: none;
}

.product-image 
{
    width: 50px;  /* Set desired width */
    height: 200px;  /* Set desired height */
    object-fit: contain;
}


#cart-items {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#cart-items li {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

#total-amount {
    font-size: 1.5em;
    text-align: right;
    margin: 20px 0;
    font-weight: bold;
}

/* Checkout Form Styles */
.checkout-form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkout-form h3 {
    margin-top: 0;
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
}

.checkout-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkout-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff523b;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.checkout-form button:hover {
    background-color: #f44336;
}


/*------menu query-----*/

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*all na products haha*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;

}
select{
    border: 1px solid #ff523b;
    padding: 5px; 
}
select:focus{
    outline: none;
}

.btn-add{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0;
    transition: background 0.5s;
    font-size: 10px;

}
.btn-add:hover{
    background: #563434;

}
.about h1{
    font-size: 3rem;
    text-align: justify;
    text-align-last: center;
}
.about p{
    font-size: 1rem;
    text-align: justify;
    text-align-last: center;
    margin-left: 20%;
    margin-right: 20%;
}

/*-------------contacts--------*/ 

.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
  }
  .contact-content-con .left-contact {
    flex: 2;
    margin-left: 5%;
  }
  .contact-content-con .left-contact h4 {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .contact-content-con .left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
  }
  .contact-content-con .left-contact .contact-info .contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact-content-con .left-contact .contact-info .contact-item p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
  }
  .contact-content-con .left-contact .contact-info .contact-item .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  .contact-content-con .left-contact .contact-info .contact-item .icon i {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }
  .contact-content-con .left-contact .contact-icon {
    display: flex;
    margin-top: 2rem;
  }
  .contact-content-con .left-contact .contact-icon a {
    display: flex;
    align-items: center;
    color: #cdd741;
    background-color: #555;
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.4rem;
    transition: all 0.4s ease-in-out;
  }
  .contact-content-con .left-contact .contact-icon a:hover {
    background-color: #2b2b21;
  }
  .contact-content-con .left-contact .contact-icon a:hover i {
    color: #edf35a;
  }
  .contact-content-con .left-contact .contact-icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
  }
  .contact-content-con .right-contact {
    flex: 3;
    margin-left: 3rem;
    margin-right: 5%;
  }
  .contact-content-con .right-contact .input-control {
    margin: 1.5rem 0;
  }
  .contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: #edf35a  ;
    width: 100%;
    color: #000000;
    resize: none;
  }
  .contact-content-con .right-contact .i-c-2 {
    display: flex;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 1.5rem;
  }
  .contact-content-con .right-contact .submit-btn {
    display: flex;
    justify-content: flex-start;
  }


/*media query for less than 600 screen size*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,col-3, .col-4{
    flex-basis: 100%;
    }
}

